/* CSS Borders
The CSS border properties allow you to specify the style, width, and color of an element's border. */
/* CSS Border Style
The border-style property specifies what kind of border to display.

The following values are allowed:

dotted - Defines a dotted border
dashed - Defines a dashed border
solid - Defines a solid border
double - Defines a double border
groove - Defines a 3D grooved border. The effect depends on the border-color value
ridge - Defines a 3D ridged border. The effect depends on the border-color value
inset - Defines a 3D inset border. The effect depends on the border-color value
outset - Defines a 3D outset border. The effect depends on the border-color value
none - Defines no border
hidden - Defines a hidden border
The border-style property can have from one to four values (for the top border, right border, bottom border, and the left border). */
p.dotted {border-style: dotted;border-width: 2px;}
p.dashed {border-style: dashed;border-width: thick}
p.solid {border-style: solid;
border-width: 5px;}
p.double {border-style: double; border-width: medium;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;border-color: red green blue yellow;}
p.one {
  border-style: solid;
  border-width: 5px 20px; /* 5px top and bottom, 20px on the sides */
    border-color: rgb(255, 0, 0);
}

p.two {
  border-style: solid;
  border-width: 20px 5px; /* 20px top and bottom, 5px on the sides */border-color: #00ff00;
}

p.three {
  border-style: solid;
  border-width: 25px 10px 4px 35px; /* 25px top, 10px right, 4px bottom and 35px left */border-color: hsl(246, 78%, 51%);;
}
p.four4 {
  border-style: dotted solid double dashed;
}

/* Three values */
p.three3 {
  border-style: dotted solid double;
}

/* Two values */
p.two2 {
  border-style: dotted solid;
}

/* One value */
p.one1 {
  border-style: dotted;
}
/* Border shorthand */
p.shorthand {
    border: 5px solid red;
    /* CSS Rounded Borders
    The border-radius property is used to add rounded borders to an element: */
    border-radius: 10px;
}
p.bottom {
  border-bottom: 6px solid red;
}
p.left {
  border-left: 6px solid red;
 
}
/* All CSS Border Properties
Property	Description
border	Sets all the border properties in one declaration
border-bottom	Sets all the bottom border properties in one declaration
border-bottom-color	Sets the color of the bottom border
border-bottom-style	Sets the style of the bottom border
border-bottom-width	Sets the width of the bottom border
border-color	Sets the color of the four borders
border-left	Sets all the left border properties in one declaration
border-left-color	Sets the color of the left border
border-left-style	Sets the style of the left border
border-left-width	Sets the width of the left border
border-radius	Sets all the four border-*-radius properties for rounded corners
border-right	Sets all the right border properties in one declaration
border-right-color	Sets the color of the right border
border-right-style	Sets the style of the right border
border-right-width	Sets the width of the right border
border-style	Sets the style of the four borders
border-top	Sets all the top border properties in one declaration
border-top-color	Sets the color of the top border
border-top-style	Sets the style of the top border
border-top-width	Sets the width of the top border
border-width	Sets the width of the four borders */