.hi{
    border: 1px solid black;
    height: 200px;
    width: 300px;
    background-color: bisque;
    text-align: center;
    margin:auto;
}
    
.button{
      display: flex;
    margin: auto;
    padding: 10px;
 transition: 0.1s;  
    border-radius: 5px;
    background-image:linear-gradient(to right,blue,grey);
cursor: pointer;

}

.button:hover{
    background-image:linear-gradient(to right,grey,blue);
    padding: 12px;
}