.button {
    font: inherit;
    border: 1px solid #084c99;
    background: #084c99;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .button:hover,
  .button:active {
    background: #678db9;
    border-color: #738191;
  }
  
  .button:focus {
    outline: none;
  }
  